<div class="col-xs-12 col-sm-6 col-md-4">
	<a href="{{form_link}}" title="{{add_my_card}}" class="text-decoration-none">
		<div class="card h-100">
			<div class="card-body">
				<div class="d-flex align-items-center text-center">
					<i role="img" class="fa fa-user-plus fa-fw text-secondary mx-auto" style="font-size:6em;"></i>	
				</div> 
			</div>
		</div>
	</a>
</div>