<div class="col-xs-12 col-sm-6 col-md-4">	
	<div class="card h-100">
		<div class="card-body">
			<div class="d-flex align-items-center text-center">
				<i role="img" class="icon fa fa-user-circle-o fa-fw text-secondary mx-auto" style="font-size:6em;"></i><br>
				<div class="text-right mt-4">
					<a href="{{form_link}}" title="{{add_my_card}}" class="btn btn-secondary mr-1">
						<i title="{{add_my_card}}" role="img" aria-label="{{add_my_card}}" class="icon fa fa-plus fa-fw mr-0"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>