<div class="col-xs-12 col-sm-6 col-md-4">
	<a href="{{form_link}}" title="{{add_my_card}}">
		<div class="card h-100">
			<div class="card-body">
				<div class="d-flex align-items-center text-center">
					<i role="img" class="icon fa fa-user-circle-o fa-fw text-light mx-auto" style="font-size:3em;"></i>
					<div class="text-right">
						<span class="btn btn-secondary mr-1">
							<i title="{{add_my_card}}" role="img" aria-label="{{add_my_card}}" class="icon fa fa-plus fa-fw "></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>